.container{
width: 400px;

background-color: rgb(211, 211, 9);
align-items: center;
text-align: center;
border: solid;
border-radius: 10px;
margin-top: 200px;
}
.main{
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
   
    justify-content: center;
   
}

#btn{
    text-align: center;
    align-items: center;
   
    width: 100%;
  display: block;
  padding: 10px;
   
}